* {
    font-family: var(--font-family-Ti);
}

.active-navigation {
    width: 300px !important;
}

.margin-left {
    margin-left: 300px;
}

#header-admin {
    .header-top {
        height: 56px;
        border-bottom: 1px solid #ddd;
        .header-left {
            .logo-sm {
                height: 40px;
            }
            .side-navigation {
                z-index: 3;
                width: 0;
                transition: width 0.5s;
                overflow: hidden;
                align-items: center;
                white-space: nowrap;
                background-color: #3c4b64;
                position: fixed;
                left: 0;
                height: 100vh;
                top: 0;
                .close {
                    position: absolute;
                    right: 0;
                    top: 0;
                    i {
                        color: white;
                    }
                }
                .logo {
                    background-color: #303c54;
                }
                .title {
                    background-color: #46546c;
                }
                .nav-item {
                    height: auto;
                    text-align: center;
                    height: 50px;
                    font-size: 18px;
                    .nav-link {
                        img {
                            height: 35px;
                        }
                    }
                    &:hover {
                        background-color: #46546c;
                    }
                }
            }
            .menu {
                transition: all 0.5s;
                .nav-item {
                    margin-right: 36px;
                    a {
                        color: rgb(133, 133, 133);
                    }
                    &:hover {
                        a {
                            color: #333;
                        }
                    }
                }
            }
        }
        .header-right {
            .nav {
                .nav-item {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    &:hover {
                        .menu-sub {
                            opacity: 1;
                        }
                    }
                    .avatar {
                        width: 45px;
                        height: 45px;
                        img {
                            object-fit: cover;
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .fa-bell {
                        font-size: 27px;
                        position: relative;
                    }
                    .menu-sub {
                        background-color: #fff;
                        opacity: 0;
                        transition: opacity 0.5s;
                        position: absolute;
                        width: 300%;
                        right: 0;
                        border: 1px solid #ddd;
                        border-radius: 6px;
                        .sub-item {
                            width: 100%;
                            &:hover {
                                background-color: #ddd;
                            }
                            span {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1399.98px) {
    .margin-left {
        margin-left: 0;
    }
}