#detail-product {
    .slides-detail {
        .slick-slide {
            border: none;
        }
        .slide-item {
            position: relative;
            height: 100vh;
            overflow: hidden;
            video {
                width: 100%;
                border: none;
            }
            img {
                width: 100%;
            }
            .bgr-image {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            .crs-list {
                height: 100vh;
                .item {
                    height: 100vh;
                    padding: 0 10vw;
                    .item-img {
                        width: 75%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .col-text {
                        width: 40%;
                        align-items: flex-start;
                        color: #dddd;
                        h3 {
                            font-size: 30px;
                        }
                        p {
                            font-family: var(--font-family-Ti);
                            font-size: 18px;
                        }
                    }
                    .icon-logo {
                        img {
                            padding: 0 1vw 0 0;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}