body {
    font-family: 'Aldrich', sans-serif;
}

#header {
    background: linear-gradient(180deg, #000, transparent);
    height: 137px;
    position: fixed;
    .header-content {
        height: 96px;
    }
}
